<%= provide(:title, 'Reset password') %>
<div class="row">
	<div class="small-10 small-centered medium-4 medium-centered columns">
	<h2 id="sign_in">Reset password</h2>

		<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

		<%= hidden_field_tag :email, @user.email %>

		<%= f.password_field :password %>

		<%= f.password_field :password_confirmation %>

		<%= f.submit 'Update password', class: 'expanded button' %>
		
		<% end %>

	</div>
</div>